<P class="notice"><%= flash[:notice] %></P>
<di class="container px-5 px-sm-0">

  <%= render 'layouts/error', model: @booker %>

  <div class="row">
    <%= render 'layouts/side', user: current_user, booker: @booker %>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-hover table-inverse" >
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @bookers.each do |booker| %>
          <tr>
            <td>
              <%= link_to user_path(booker.user.id) do %>
              <%= attachment_image_tag booker.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
              <% end %>
            </td>
            <td>
              <%= link_to booker_path(booker.id) do %>
              <%= booker.title %>
              <% end %>
            </td>
            <td>
              <%= booker.opinion %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>